:root {
	--color_0: #ffffff;
	--color_1: #dc3545;
	--color_2: #e18102;
	--color_3: #e1c107;
	--color_4: #28a745;
	--color_5: #007bff;
}

body {
	background-color: #dddddd;
	margin: 1em;
}

.circle_big {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 3px solid black;
	background-color: var(--color_0);
	margin: 0;
}
.circle_small {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 3px solid black;
	background-color: var(--color_0);
}


.colorcode0 {
	background-color: var(--color_0);
}

.colorcode1 {
	background-color: var(--color_1);
}

.colorcode2 {
	background-color: var(--color_2);
}

.colorcode3 {
	background-color: var(--color_3);
}

.colorcode4 {
	background-color: var(--color_4);
}

.colorcode5 {
	background-color: var(--color_5);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grade_display {
	width: 3rem;
	height: 3.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

/* The first time the accordion is loaded, it has some default styling.
However, once it is closed, the styling disappears.
I like that styling, so this CSS keeps it */
button.accordion-button {
	color: #0c63e4;
	background-color: #e7f1ff;
}
.accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
